@{
    ViewBag.Title = "Administration";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <br/>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<article>
    <div id="accordion">
        <h6>HOCH NAGYBEREG</h6>
        <div>
            <div class="flatcontainer">
                <div class="foot">
                    <a href="/BeregPerson" class="footItem1">
                        <span class="fontawesome-user"></span>People
                    </a>
                    <a href="/BeregGroup" class="footItem2">
                        <span class="fontawesome-group"></span>Groups
                    </a>
                    <a href="/BeregCard" class="footItem3">
                        <span class="fontawesome-credit-card"></span>Cards
                    </a>
                    <a href="/BeregNode" class="footItem2">
                        <span class="fontawesome-sitemap"></span>Node
                    </a>
                    <a href="/BeregSite" class="footItem3">
                        <span class="fontawesome-external-link"></span>Site
                    </a>
                    <a href="/BeregLocation" class="footItem1">
                        <span class="typicons-home"></span>Location
                    </a>
                    <a href="/BeregEvent" class="footItem1">
                        <span class="typicons-directions"></span>Event
                    </a>
                </div>
            </div>
        </div>
    
    <h6>HOCH BEREGSZÁSZ</h6>
        <div>
            <div class="flatcontainer">
                <div class="foot">
                    <a href="/BeregovoPerson" class="footItem1">
                        <span class="fontawesome-user"></span>People
                    </a>
                    <a href="/BeregovoGroup" class="footItem2">
                        <span class="fontawesome-group"></span>Groups
                    </a>
                    <a href="/BeregovoCard" class="footItem3">
                        <span class="fontawesome-credit-card"></span>Cards
                    </a>
                    <a href="/BeregovoNode" class="footItem2">
                        <span class="fontawesome-sitemap"></span>Node
                    </a>
                    <a href="/BeregovoSite" class="footItem3">
                        <span class="fontawesome-external-link"></span>Site
                    </a>
                    <a href="/BeregovoLocation" class="footItem1">
                        <span class="typicons-home"></span>Location
                    </a>
                    <a href="/BeregovoEvent" class="footItem1">
                        <span class="typicons-directions"></span>Event
                    </a>
                </div>
            </div>
        </div>
    <h6>HOCH NAGYBÉGÁNY</h6>
        <div>
            <div class="flatcontainer">
                <div class="foot">
                    <a href="/BeganyPerson" class="footItem1">
                        <span class="fontawesome-user"></span>People
                    </a>
                    <a href="/BeganyGroup" class="footItem2">
                        <span class="fontawesome-group"></span>Groups
                    </a>
                    <a href="/BeganyCard" class="footItem3">
                        <span class="fontawesome-credit-card"></span>Cards
                    </a>
                    <a href="/BeganyNode" class="footItem2">
                        <span class="fontawesome-sitemap"></span>Node
                    </a>
                    <a href="/BeganySite" class="footItem3">
                        <span class="fontawesome-external-link"></span>Site
                    </a>
                    <a href="/BeganyLocation" class="footItem1">
                        <span class="typicons-home"></span>Location
                    </a>
                    <a href="/BeganyEvent" class="footItem1">
                        <span class="typicons-directions"></span>Event
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>

<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>





@*<aside>
    
</aside>*@