@{
    ViewBag.Title = "Locations";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div align="center" class="flatcontainer">
    <div class="foot">
        <a href="/BeregHome" class="footItem1">
            <span class="fontawesome-building"></span>HOCH Nagybereg
        </a>
        <a href="/BeregovoHome" class="footItem2">
            <span class="fontawesome-building"></span>HOCH Beregszász
        </a>
        <a href="/BeganyHome" class="footItem3">
            <span class="fontawesome-building"></span>HOCH Nagybégány
        </a>
    </div>
</div>

