@{
    ViewBag.Title = "Administration";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <br/>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    <h2>HOCH NAGYBEREG</h2>
    <div class="flatcontainer">
        <div class="foot">
            <a href="/Person" class="footItem1">
                <span class="fontawesome-user"></span>People
            </a>
            <a href="/PersonGroup" class="footItem2">
                <span class="fontawesome-group"></span>Groups
            </a>
            <a href="/Card" class="footItem3">
                <span class="fontawesome-credit-card"></span>Cards
            </a>
            <a href="/Node" class="footItem2">
                <span class="fontawesome-sitemap"></span>Node
            </a>
            <a href="/Site" class="footItem3">
                <span class="fontawesome-external-link"></span>Site  
            </a>
            <a href="/Location" class="footItem1">
                <span class="typicons-home"></span>Location
            </a>
            <a href="/BeregEvent" class="footItem1">
                <span class="typicons-directions"></span>Event
            </a>
        </div>
    </div>
    <h2>HOCH BEREGSZÁSZ</h2>
    <div class="flatcontainer">
        <div class="foot">
            <a href="/BeregovoPerson" class="footItem1">
                <span class="fontawesome-user"></span>People
            </a>
            <a href="/BeregovoGroup" class="footItem2">
                <span class="fontawesome-group"></span>Groups
            </a>
            <a href="/BeregovoCard" class="footItem3">
                <span class="fontawesome-credit-card"></span>Cards
            </a>
            <a href="/BeregovoNode" class="footItem2">
                <span class="fontawesome-sitemap"></span>Node
            </a>
            <a href="/BeregovoSite" class="footItem3">
                <span class="fontawesome-external-link"></span>Site
            </a>
            <a href="/BeregovoLocation" class="footItem1">
                <span class="typicons-home"></span>Location
            </a>
            <a href="/BeregovoEvent" class="footItem1">
                <span class="typicons-directions"></span>Event
            </a>
        </div>
    </div>
</article>

<aside>
    
</aside>