@{
    ViewBag.Title = "Locations";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div align="center" class="flatcontainer">
    <div class="foot">
        <a href="/BeganyPerson" class="footItem1">
            <span class="fontawesome-user"></span>People
        </a>
        <a href="/BeganyEvent" class="footItem2">
            <span class="typicons-directions"></span>UpdateEvent
        </a>
        <a href="/Begany/MonthlyReport" class="footItem3">
            <span class="typicons-directions"></span>Movement Report
        </a>
    </div>
</div>

